body
{
	margin: 0;
	padding: 0;
	font-family: BentonSans, Helvetica, Arial, sans-serif;
	background:  url("../img/poster-background.gif");
	background-size: cover;
	background-position-y: center;
	background-position-x: center;
	background-attachment: fixed;
	font-size: 1.2rem;
}

.rounded
{
	border-radius: 10px;
}

a
{
	color: #252525;
	text-decoration: none;
	border-bottom: 1px dotted #383838;
	
	-moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
a:hover
{
	color: #ff5821;
	border-color: #ff5821;
}

#page-wrapper
{
	//border-left: 20px solid #ffd716;
}

#top
{
	display: flex;
	align-items: center;
}
#page-title
{
	z-index: 100;
}
#page-title img
{
	display: block;
	width: 100%;
	height: auto;
	
	-webkit-touch-callout: none;
	  /* iOS Safari */
	  -webkit-user-select: none;
	  /* Chrome/Safari/Opera */
	  -khtml-user-select: none;
	  /* Konqueror */
	  -moz-user-select: none;
	  /* Firefox */
	  -ms-user-select: none;
	  /* Internet Explorer/Edge */
	  user-select: none;
	  /* Non-prefixed version, currently
		 not supported by any browser */
	  cursor: @cursor;
}

.navigation.desktop
{
	display: flex;
}
.navigation.mobile
{
	display: none;
}

.nav-button
{
	display: block;
	text-decoration: none;
	padding: 1em;
	background: #ffd716;
	font-size: 2vw;
	font-weight: bold;
	color: #242424;
	text-align: center;
	
	-moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
	
	-webkit-touch-callout: none;
	  /* iOS Safari */
	  -webkit-user-select: none;
	  /* Chrome/Safari/Opera */
	  -khtml-user-select: none;
	  /* Konqueror */
	  -moz-user-select: none;
	  /* Firefox */
	  -ms-user-select: none;
	  /* Internet Explorer/Edge */
	  user-select: none;
	  /* Non-prefixed version, currently
		 not supported by any browser */
	  cursor: pointer;
	  
	  border: none;
}
.nav-button.active, .nav-button.active:hover
{
	background: #ff5821;
	color: #fff;
}
.nav-button:hover
{
	background: #242424;
	color: #ffd716;
}

#foreground-spacer
{
	position: relative;
	min-height: 30vw;
	max-width: 100vw;
	
}
#foreground-spacer.short
{
	min-height: 10vw;
}
.background-layer
{
	display: block;
	position: absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	top: -65vw;
	width: 100%;
	z-index: -100; 
}

#main
{
	margin: 0 2em;
	padding: 2em 5em;
	background: #fff;
	color: #242424;
	
	font-size: 1.3em;
	text-align: center;
	
	border-bottom: 20px solid #ffd716;
}
.content
{
	max-width: 1050px;
	margin: auto;
}
#promo-video
{
	display: block;
	width: 75vh;
	max-width: 90%;
	height: 40vh;
	margin: auto;
	margin-bottom: 1em;
}

.spacer
{
	min-height: 2em;
}

.big
{
	font-size: 2em;
	font-weight: bold;
}
.medium
{
	font-size: 1.4em;
	font-weight: bold;
}
.list
{
	display: flex;
	flex-direction: column;
	padding: 2em 0;
}
.list-item
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 1em;
}
.left-item
{
	display: block;
}
.right-item
{
	padding-left: 2em;
	text-align: left;
}
#twitter-link
{
	background: #fff;
	color: #383838;
	text-decoration: none;
	vertical-align: middle;
	font-size: 4rem;
	font-weight: bold;
	padding: 0.5em 0.5em 0.7em 0.5em;
	border-radius: 0.5em;
	
	-moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
	
	-webkit-touch-callout: none;
	  /* iOS Safari */
	  -webkit-user-select: none;
	  /* Chrome/Safari/Opera */
	  -khtml-user-select: none;
	  /* Konqueror */
	  -moz-user-select: none;
	  /* Firefox */
	  -ms-user-select: none;
	  /* Internet Explorer/Edge */
	  user-select: none;
	  /* Non-prefixed version, currently
		 not supported by any browser */
	  cursor: pointer;
	  
	border: none;
}
#twitter-link:hover
{
	background: #1da1f2;
	color: #fff;
}
#twitter-link img
{
	vertical-align: middle;
}
.at
{
	font-family: "Berlin Sans FB", BentonSans, Helvetica, Arial, sans-serif;
	font-weight: normal;
}

.page-ender
{
	display: block;
	margin: auto;
	padding-top: 5rem;
	margin-top: 5rem;
	border-top: 1px dotted #ccc;
	image-rendering: pixelated;
}

.studio-logo
{
	height: 9em;
	width: auto;
}

.tile-box
{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: max-content; /*1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;*/
	grid-auto-flow: dense;
	width: 100%;
	height: 200vh;
	justify-content: center;
}

.tile
{
	display: block;
	border: none;
	margin: 0.5rem;
	grid-column-start: span 2;
	grid-row-start: span 2;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	border-radius: 6px;
	-moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.tile:hover
{
	margin: 0.1rem;
	padding: 0.4rem;
	-moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.tile.wide
{
	grid-column-start: span 3;
}
.tile.tall
{
	grid-row-start: span 3;
}
.tile.thin
{
	grid-column-start: span 1;
}
.tile.short
{
	grid-row-start: span 1;
}
.tile.large
{
	grid-column-start: span 3;
	grid-row-start: span 3;
}
.tile img
{
	display: block;
	position: relative;
	height: 100%;
	visibility: hidden;
}

@media only screen and (max-width: 900px), screen and (-webkit-min-device-pixel-ratio: 2)
{
	body
	{
		background-position-y: top;
		font-size: 2rem;
	}
	#page-wrapper
	{
		background-position-y: top;
	}
	
	#top
	{
		flex-direction: column;
		align-items: center;
	}
	.navigation.mobile
	{
		display: flex;
		width: 100%;
		border-bottom: 1rem solid #ff5821;
	}
	.navigation.desktop
	{
		display: none;
	}
	
	.nav-button
	{
		flex-grow: 1;
		font-size: 3rem;
		padding: 2rem 1rem;
	}
	
	#main
	{
		width: 100%;
		margin: 0 0;
		padding: 2em 0;
	}
	.content
	{
		max-width: 80%;
	}
	.list-item
	{
		flex-direction: column;
	}
	.left-item
	{
		margin: auto;
		margin-bottom: 1em;
	}
	.right-item
	{
		text-align: center;
		padding-left: 0;
	}
	
	.studio-logo
	{
		width: 80%;
		height: auto;
	}
	.page-ender
	{
		height: 4em;
	}
	.tile-box
	{
		display: flex;
		flex-direction: column;
		height: auto;
	}
	.tile
	{
		height: 8em;
	}
	.tile.tall
	{
		height: 16em;
	}
}