/* Based on Hoosier Games */

body {
    font-family: 'Roboto', sans-serif;
    color: #444;
    padding: 0;
    margin: auto;
    margin-bottom: 2em;
    background: url('../img/poster-background.gif');
    background-attachment: fixed;
    background-size: cover;
}

a {
    text-decoration: none;
    color: #990000;
    transition: all 0.2s;
}

    a.title-link {
        color: unset;
        cursor: pointer;
    }

strong {
    font-weight: 500;
}

.big-text {
    font-size: 1.4em;
}

.hidden {
    display: none;
}

.no-select, .no-select-all * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.no-break {
    white-space: nowrap;
}

.all-smooth *, .smooth {
    transition: all .2s;
}

    .all-smooth.fast *, .smooth.fast {
        transition: all .1s;
    }

.wrapper {
    width: 100%;
    overflow: hidden;
}

.page-width {
    max-width: 80em;
    position: relative;
    margin: auto;
}

.align-center {
    text-align: center;
}

/*
    TOP SECTION
*/

.top {
    background: url('../img/poster-foreground.png');
    background-size: 85%;
    background-position: 175% 71%;
    background-repeat: no-repeat;
    height: 420px;
    position: relative;
    max-width: 80em;
    min-width: 1200px;
    margin: auto;
}

    .top .title {
        width: 4200px;
        height: auto;
        position: absolute;
        top: 66px;
        left: -1750px;
        transform: rotate(-3deg);
        z-index: -1;
    }

.nav {
    position: absolute;
    bottom: 1em;
    right: 0;
    display: flex;
    align-items: center;
    margin: auto;
    box-shadow: 10px 10px 0 rgba(0,0,0,0.5);
}

    .nav .nav-main {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav .nav-item {
        box-sizing: border-box;
        padding: 0.7em 1em 0.8em 1em;
        font-size: 2em;
        font-weight: 900;
        color: #252525;
        cursor: pointer;
        background: #ffd716;
        border-bottom: 0px solid #252525;
    }

        .nav .nav-item:hover {
            color: #ff5821;
        }

        .nav .nav-item.active {
            color: #fff;
            background: #ff5821;
        }

/*
    MIDDLE SECTION
*/

.middle {
    background: #fff;
    border-bottom: 2em solid #ffd716;
    box-shadow: 10px 10px 0 rgba(0,0,0,0.5);
    max-width: 80em;
    margin: auto;
    margin-bottom: 3em;
}

    .middle:last-of-type {
        margin-bottom: 0;
    }

    .middle .title {
        background: #ff5821;
        color: #fff;
        font-size: 6em;
        font-weight: 900;
        height: .93em;
        padding: .3em 1em 0 1em;
        position: relative;
        z-index: -1;
        text-transform: uppercase;
    }

    .middle .title-after {
        background: #ffd716;
        content: '';
        height: 10px;
        position: relative;
        z-index: -1;
        margin-top: 6px;
    }

    .middle .title:first-child {
        z-index: 3;
    }

    .middle .subtitle {
        color: #666;
        font-size: 1.5em;
        padding: .2em 0 0 2.4em;
        font-weight: 300;
        font-style: italic;
    }

    .middle .content {
        font-size: 2em;
        font-weight: 300;
        padding: 0.5em 4em 0 4em;
    }

        .middle .content.description {
            font-size: 1.5em;
            padding: 0 1.3333em;
            font-style: italic;
        }

        .middle .content img.centered {
            display: block;
            height: 8em;
            width: auto;
            margin: auto;
        }
/*
    CARDS
*/

.card-row {
    display: flex;
    justify-content: space-between;
}

.card-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

    .card-column .card {
        width: 100%;
        margin-bottom: 1em;
    }

.card {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 5px 5px 0 #ccc;
    width: 42%;
    padding: 1em;
}

    .card.center {
        box-sizing: border-box;
        width: 90%;
        padding: 1.5em;
        margin: auto;
    }

    .card.flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .card.thinner {
        width: 25%;
    }

    .card.thin {
        width: 30%;
    }

    .card.thick {
        width: 55%;
    }

    .card.medium-thin {
        width: 40%;
    }

    .card.medium-thick {
        width: 45%;
    }

    .card.full {
        width: 47.5%;
        padding: 0;
    }

    .card.thin.full {
        width: 35%;
    }

    .card.thick.full {
        width: 60%;
    }

    .card.medium-thin.full {
        width: 45%;
    }

    .card.medium-thick.full {
        width: 55%;
    }

    .card.single {
        width: 85%;
        margin: 2em 0 0 5%;
    }

        .card.single.full {
            width: 90%;
        }

    .card .card-img {
        display: block;
        position: relative;
        height: 0;
        width: 0;
        padding: 4em;
        border-radius: 8px;
        margin: 0;
        background-size: cover;
        background-position: center;
    }

        .card .card-img.left {
            margin-right: 1em;
            float: left;
        }

        .card .card-img.right {
            margin-left: 1em;
        }

    .card .card-text {
        vertical-align: middle;
        height: 100%;
        padding: 0.5em;
    }

    .card .card-title {
        font-size: 1.1em;
        font-weight: 900;
    }

    .card .card-info {
        font-size: .8em;
        margin-bottom: 0.75em;
    }

    .card .card-body {
        font-size: .8em;
    }

/*
    BOTTOM SECTION
*/

.bottom {
}

/*
    SLIDES
*/

.slide-row {
    display: flex;
    position: relative;
    padding: 0;
    margin: 1em;
}

    .slide-row.short .slide {
        height: 15em;
    }

    .slide-row .slide {
        display: block;
        height: 20em;
        flex-grow: 1;
        background-position: center;
        background-size: cover;
        border: 5px solid white;
        border-radius: 10px;
        width: 0%;
        position: relative;
        overflow: hidden;
    }

    .slide-row .slide-title {
        color: #fff;
        text-shadow: 0 0 20px rgba(0,0,0,0.6);
        font-size: 2.4em;
        white-space: nowrap;
        padding: 0.25em 0.6em;
        position: absolute;
        bottom: -4em;
        left: 0;
        right: 0;
    }

    .slide-row .slide:hover {
        width: 50%;
    }

        .slide-row .slide:hover .slide-title {
            bottom: 0;
        }

/*
    CONTACT
*/

.contact-card a {
    color: #444;
}

    .contact-card a:hover {
        color: unset;
    }

.contact-card img.contact-icon {
    display: block;
    float: unset;
    width: 60%;
    margin: auto;
    margin-top: 0%;
    margin-bottom: 0%;
    transition: all 0.25s;
    cursor: pointer;
}

.contact-card:hover img.contact-icon {
    width: 65%;
    margin-top: -2.5%;
    margin-bottom: -2.5%;
}

.contact-text {
    margin-top: 1em;
    font-weight: 500;
    cursor: pointer;
}

/*
    EXPANDABLE
*/

.expand-button {
    display: block;
    position: relative;
    background-color: #ccc;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    margin: auto;
    cursor: pointer;
    margin-bottom: 1.2em;
    margin-top: 1.3em;
    transition: all 0.5s ease-in-out;
}

    .expand-button:after {
        content: 'show more';
        white-space: nowrap;
        font-size: 0.6em;
        text-align: center;
        position: absolute;
        width: 300%;
        left: -100%;
        bottom: -1.2em;
        color: #ccc;
    }

    .expand-button:before {
        content: '. . .';
        white-space: nowrap;
        font-size: 1.6em;
        font-weight: 900;
        text-align: center;
        position: absolute;
        width: 300%;
        left: -100%;
        top: -1.5em;
        color: #ccc;
    }

    .expand-button .cross {
        display: block;
        position: absolute;
        background-image: url('./img/Cross.svg');
        width: 60%;
        height: 60%;
        top: 20%;
        left: 20%;
        transition: transform 1s cubic-bezier(.9,0,.1,1);
    }

.expand-toggle:checked ~ .expand-button {
    margin-top: 0;
}

    .expand-toggle:checked ~ .expand-button:after {
        content: 'show less';
    }

    .expand-toggle:checked ~ .expand-button:before {
        content: '';
    }

    .expand-toggle:checked ~ .expand-button .cross {
        transform: rotate(45deg);
    }

/*
    DYNAMIC IMAGES
*/

.img {
    position: relative;
    background-position: center;
    background-size: cover;
    height: 20em;
    width: 90%;
    margin: auto;
    margin-bottom: 2em;
    margin-top: 1em;
    border-radius: 0.2em;
    border: 1px solid #fff;
    box-shadow: 5px 5px 0 #ccc;
    font-size: 0.75em;
    text-align: center;
}

    .img[caption] {
        margin-bottom: 4em;
    }

        .img[caption]:after {
            display: block;
            width: 100%;
            content: attr(caption);
            position: absolute;
            top: 100%;
            margin-top: 1em;
            margin-bottom: 1em;
        }

/* FORMS */

label {
    display: block;
    color: #666;
}

input, textarea {
    display: block;
    box-sizing: border-box;
    outline: none;
    font-family: unset;
    font-size: 1em;
    font-weight: unset;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 5px 5px 0 #ccc;
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    color: #666;
    resize: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ccc;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ccc;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #ccc;
}

input:focus, textarea:focus {
    color: #252525;
    border-left: 4px solid #ffd716;
}

    input:focus:after, textarea:focus:after {
        content: '';
        display: block;
        width: 100%;
        height: 10px;
        background: #ffd716;
    }

button {
    display: block;
    outline: none;
    border-radius: 4px;
    font-family: unset;
    font-size: 1em;
    padding: 0.5em 1em;
    border: 2px solid #ffd716;
    background: #fff;
    color: #ffd716;
    cursor: pointer;
}

    button:hover {
        color: #fff;
        background: #ffd716;
    }

    button:active {
        color: #ffd716;
        background: #fff;
    }

.page-ender {
    margin: auto;
    padding: 20px;
    display: block;
    width: 64px;
    height: 64px;
}

    .page-ender img {
        display: block;
        height: 100%;
        width: 100%;
        image-rendering: pixelated;
    }


/*
    Smaller Screens
*/

@media screen and (max-width: 1200px) {
    .top {
        height: 700px;
        background-size: 100%;
        background-position: 4vw 60%;
    }

        .top .title {
            width: 400%;
            top: 30px;
            left: -165%;
        }

    .middle .title {
        padding-left: 0.4em;
    }

    .middle .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    .card-row {
        flex-direction: column;
        align-items: center;
        height: unset;
    }

        .card-row .card {
            width: 90% !important;
        }

            .card-row .card:not(:last-child) {
                margin-bottom: 1em;
            }

            .card-row .card.full {
                width: 95% !important;
            }

            .card-row .card.thin, .card-row .card.thinner {
                height: unset;
                min-height: unset;
            }

            .card-row .card img {
                display: inline-block;
                width: 7em;
            }

            .card-row .card:hover img {
                margin: 0;
                width: 7em;
            }

    .card.flex {
        flex-direction: column;
    }

    .card .card-img {
        order: -1;
        padding: 6em;
        margin: 1em;
    }

    .card .card-text {
        text-align: center;
        padding-bottom: 0.5em;
    }
}

/*
    MOBILE
*/

@media screen and (-webkit-min-device-pixel-ratio : 2) {
    body {
        font-size: 2rem;
    }

    .top {
        height: 32em;
        background-size: 120%;
        background-position: -23px 83%;
    }

        .top .title {
            width: 400%;
            top: 30px;
            left: -165%;
        }

    .middle {
        box-shadow: none;
    }

        .middle .title {
            font-size: 20vw;
            padding-left: 0.2em;
            white-space: nowrap;
        }

        .middle .content {
            padding: 0.7em 0.5em;
            text-align: center;
        }

    .flex {
        flex-direction: column;
    }

    .nav {
        width: 100%;
        bottom: 0;
        box-shadow: none;
        flex-wrap: wrap;
        max-width: 100%;
    }

        .nav .nav-main {
            width: 100%;
        }

        .nav .nav-item {
            text-align: center;
            font-size: 5vw;
            padding: 1em 0.5em;
            flex-grow: 1;
        }

    .slide-row {
        flex-direction: column;
        height: unset;
    }

        .slide-row .slide {
            height: 10em;
            width: 100%;
        }

        .slide-row.short .slide {
            height: 10em;
            width: 100%;
        }

        .slide-row .slide:hover {
            width: 100%;
        }

        .slide-row .slide-title {
            bottom: 0;
        }

    .card-column {
        padding: 0 0.5em;
    }

    .card {
        padding: .5em;
    }

        .card.center {
            width: 100%;
        }

        .card.tall {
            min-height: 15em;
        }

        .card .card-img {
            order: -1;
            padding: 6em;
            margin: 1em;
        }

        .card .card-text {
            text-align: center;
            padding-bottom: 0.5em;
        }

    .page-ender {
        height: 256px;
        width: 256px;
        padding: 32px 64px 128px;
    }
}
